/* Jeff's CSS Reset -------------------*/
*, *::before, *::after{
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg{
  display: block;
  max-width: 100%;
}

/* margin auto only for block elements */
/* justify-content: x axis */
/* align-items: y axis */
/* flex box froggy to learn layout!! */
/* ------------------------------------ */

:root {
  --base-bg: #f2f2f2;
  --base-text: #000000;
  --base-light-text: #525252;
  --callout-bg: #ffffff;
  --callout-text: #000000;
  --standout-bg: #fefefe;
  --image-invert: 0;
  --image-brightness: 1;
}

.dark-theme {
  --base-bg: #212122;
  --base-text: #d6d6d6;
  --base-light-text: #d6d6d6;
  --callout-bg: #2c3034;
  --callout-text: #98bfcf;
  --standout-bg: #515860;
  --image-invert: 1;
  --image-brightness: 0.9;
}

.container{
  background-color: var(--base-bg);
  color: var(--base-text);
  /* margin: 0;
  padding: 0; */
}

.page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--base-bg);
  color: var(--base-text);
}

.top{
  color : var(--base-text);
  margin: 0rem;
  padding: 0;
  min-width: 100vw;
}

.navbar{
  background-color: var(--base-bg);
  padding: 0.2rem 0.5rem;
  color: var(--base-light-text);
}

.dark-navbar{
  background-color: #212122;
  padding: 0.2rem 0.5rem;
  color: #f2f2f2;
}

.navbar-items{
  color: var(--base-light-text);
}

.section-navigation{
  position: fixed;
  top: 60px;
  left: 2rem;
  z-index: 1000;
  margin: 0rem;
  width: 150px
}


.callout{
  word-break: break-word;
  background-color: var(--callout-bg);
  color: var(--callout-text);
  border-radius: 10px;
  padding: 1rem;
  font-family: "Fira Code", monospace;
  font-size: 17.5px;
  text-align: left;
}

.section{
  overflow: hidden;
  /* min-height: 100vh; */
  background: var(--base-bg);
  color: var(--base-text);
  padding-top: 3rem;
  padding-left: 13rem;
  /* padding-left: 4rem; */
  padding-right: 4rem;
  margin-bottom: 10rem;
  max-width: 1500px;
  width: auto;
}

.section-first{
  overflow: hidden;
  min-height: 100vh;
  background: var(--base-bg);
  color: var(--base-text);
  padding-top: 3rem;
  padding-left: 13rem;
  /* padding-left: 4rem; */
  padding-right: 4rem;
  margin-bottom: 10rem;
  max-width: 1500px;
  width: auto;
}

.bootleg-card{
  background-color: var(--callout-bg);
  color: var(--callout-text);
}

.bootleg-image{
  filter: invert(var(--image-invert)) brightness(var(--image-brightness));
}

.block{
  padding: 0.5rem;
  background-color: var(--standout-bg);
  color: var(--base-text);
  border-radius: 10px;
  margin: 0.5rem;
}

.block-2{
  padding: 0.5rem;
  background-color: var(--callout-bg);
  color: var(--base-text);
  border-radius: 10px;
  margin: 0.5rem;
}


@media (min-width: 1500px){
  .section-navigation{
    position: fixed;
    top: 60px;
    left: calc(50% - 625px);
    z-index: 1000;
    margin: 0rem;
  }
}

@media (max-width: 900px){
  .section{
    overflow: hidden;
    background: var(--base-bg);
    color: var(--base-text);
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1500px;
    width: auto;
  }

  .section-first{
    overflow: hidden;
    background: var(--base-bg);
    color: var(--base-text);
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1500px;
    width: auto;
    min-height: 100vh;
  }
  
  .section-navigation{
    position: fixed;
    top: 60px;
    left: 80%;
    z-index: 1000;
    margin: 0rem;
    box-shadow: 0px 0px 5px #515860;
  }

  }

  @media (max-width: 500px){
    .section-navigation{
      display: none;
    }
  }