.top{
  background-color : "#ffffff";
  color : "#f2f2f2";
  margin: 0rem;
  padding: 0;
  min-width: 100vw;
}

.dark-top{
  background-color : "#000000";
  color : "#2f2f2f";
  margin: 0rem;
  padding: 0;
  min-width: 100vw;
}


.callout{
  word-break: break-word;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  font-family: "Fira Code", monospace;
  font-size: 17.5px;
  text-align: left;
}



.dark-callout {
  word-break: break-word;
  background-color: #151515;
  color: #f2f2f2;
  border-radius: 10px;
  padding: 1rem;
  font-family: "Fira Code", monospace;
  font-size: 17.5px;
  text-align: left;
}
 
.section{
  overflow: hidden;
  min-height: 100vh;
  background: #f2f2f2;
  padding: 3rem;
  padding-top: 2rem;
  padding-left: 11rem;
  padding-right: 11rem;
}

.dark-section{
  overflow: hidden;
  min-height: 100vh;
  background: #1f1f1f;
  color: #f2f2f2;
  padding: 3rem;
  padding-top: 2rem;
  padding-left: 11rem;
  padding-right: 11rem;
}

.dark-card{
  background-color: #171717;
  color: #f2f2f2;
}